#app {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.board {
    display: flex;
    flex-direction: column;
}